*{
	text-align:center;
	font-style:bold;
}

.box{
	margin:100px 0px 0px 0px;
	max-width:100%;
	height:600px;
	background:lightblue;
}

h1{
	margin:10px 0px 100px 0px;
	text-decoration:underline;
}

form input{
	border: 1px solid black;
	background-color: white;
	width:200px;
	padding:5px 15px;
	margin:5px auto;
	font-size:20px;
}

button{
	background-color:lightpink;
	border:1px solid;
	padding:10px 15px;
	margin-top:10px;
	width:300px;
	font-size:20px;
}

#comment{
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;
}