*{
	text-align:center;
	font-style:bold;
}
body{
	margin-top:100px;
}

button{
	background-color:lightpink;
	border:1px solid;
	padding:10px 15px;
	margin-top:10px;
	width:300px;
	font-size:20px;
}

h1{
	text-decoration:underline;
	margin:10px 0px 10px 0px;
}

h3{
	font-style:italic;
	margin-bottom:80px;
}
form input{
	border: 1px solid black;
	background-color: white;
	width:200px;
	padding:5px 15px;
	margin:5px auto;
	font-size:20px;
}

#comment{
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;
}
.box{
	background-color:lightblue;
	height:600px;
}